<% include ./partials/header %>

<div class="register-block">
  <h1>Login!</h1>
  <form action="/login" method="POST">
    <div class="form-item">
      <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="form-item">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <input type="submit" value="Login!" />
  </form>
</div>

<% include ./partials/footer %>
