<%- include ('./partials/header') %>
<div class="register-block">
  <h1>Sign Up!</h1>

  <form action="/register" method="post">
    <div class="form-item">
      <input type="text" name="username" placeholder="Username" />
    </div>
    <div class="form-item">
      <input type="password" name="password" placeholder="Password" />
    </div>
    <button>Sign Up</button>
  </form>
</div>

<%- include ('./partials/footer') %>
