.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.register-block {
    padding: 2%;
}

.form-item {
    margin-top: 2%;
    margin-bottom: 2%;
}

body{
    background-color: #1c291f;
}

h1, .navbar, .lead{
    color: gainsboro;
}
